<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <!-- Look for a partial called '_user.html.erb' when iterating through collection of users-->
    <%= render @users %>
  <% end %>
</ul>

<%= will_paginate %>