<!-- Footer partial rendered by layouts/application -->
<footer class="footer">
  <small>
    The Blog Site is Coming Soon</a>
    from ME</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News",    '#' %></li>
    </ul>
  </nav>
</footer>